In [85]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn import svm
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

In [86]:
df=pd.read_csv('kdiabetes.csv')

In [87]:
df.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72.0,35.0,0.0,33.6,0.627,50,1
1,1.0,85,66.0,29.0,0.0,26.6,0.351,31,0
2,8.0,183,64.0,0.0,0.0,23.3,0.672,32,1
3,1.0,89,66.0,23.0,94.0,28.1,0.167,21,0
4,0.0,137,40.0,35.0,168.0,43.1,2.288,33,1
5,5.0,116,74.0,0.0,0.0,25.6,0.201,30,0
6,3.0,78,50.0,32.0,88.0,31.0,0.248,26,1
7,10.0,115,0.0,0.0,0.0,35.3,0.134,29,0
8,2.0,197,70.0,45.0,543.0,30.5,0.158,53,1
9,8.0,125,96.0,0.0,0.0,0.0,0.232,54,1
10,4.0,110,92.0,0.0,0.0,37.6,0.191,30,0
11,10.0,168,74.0,0.0,0.0,38.0,0.537,34,1
12,10.0,139,80.0,0.0,0.0,27.1,1.441,57,0
13,1.0,189,60.0,23.0,846.0,30.1,0.398,59,1
14,5.0,166,72.0,19.0,175.0,25.8,0.587,51,1
15,7.0,100,0.0,0.0,0.0,30.0,0.484,32,1
16,0.0,118,84.0,47.0,230.0,45.8,0.551,31,1
17,NaN,107,74.0,0.0,0.0,29.6,0.254,31,1
18,1.0,103,30.0,38.0,83.0,43.3,0.183,33,0
19,1.0,115,70.0,30.0,96.0,34.6,0.529,32,1

In [88]:
#preprocessing 

#checking for null values
df.isnull().sum()

Pregnancies                 1
Glucose                     0
BloodPressure               2
SkinThickness               1
Insulin                     1
BMI                         1
DiabetesPedigreeFunction    4
Age                         0
Outcome                     0
dtype: int64

Treating null values

In [89]:
#checking for duplicate sum
df.duplicated().sum()

0

In [90]:
df.dtypes

Pregnancies                 float64
Glucose                       int64
BloodPressure               float64
SkinThickness               float64
Insulin                     float64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [91]:
#Separating dependent and indipendent variables

In [92]:
x=df.drop(columns='Outcome',axis=1)
y=df['Outcome']

In [93]:
from sklearn.impute import SimpleImputer

In [94]:
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6.0,148,72.0,35.0,0.0,33.6,0.627,50
1,1.0,85,66.0,29.0,0.0,26.6,0.351,31
2,8.0,183,64.0,0.0,0.0,23.3,0.672,32
3,1.0,89,66.0,23.0,94.0,28.1,0.167,21
4,0.0,137,40.0,35.0,168.0,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10.0,101,76.0,48.0,180.0,32.9,0.171,63
764,2.0,122,70.0,27.0,0.0,36.8,0.340,27
765,5.0,121,72.0,23.0,112.0,26.2,0.245,30
766,1.0,126,60.0,0.0,0.0,30.1,0.349,47
767,1.0,93,70.0,31.0,0.0,30.4,NaN,23

In [95]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

removing null values i.e missing values#

In [96]:
my_imputer = SimpleImputer()
imputed_x_train = pd.DataFrame(my_imputer.fit_transform(x_train))
imputed_x_test = pd.DataFrame(my_imputer.transform(x_test))

# Imputation removed column names; put them back
imputed_x_train.columns = x_train.columns
imputed_x_test.columns = x_test.columns

In [97]:
imputed_x_train.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
dtype: int64

In [98]:
#scaling using standardscaler to normalize the data
scaler =StandardScaler()
scaler.fit(imputed_x_train)
imputed_x_train= scaler.transform(imputed_x_train)
X_test_scaled = scaler.transform(imputed_x_test)
StandardScaler()

StandardScaler()

In [99]:
imputed_x_train

array([[ 0.08960864,  1.58385545,  0.15237179, ...,  1.46843358,
         0.0088151 , -0.60368383],
       [-0.82589299,  0.15647928, -0.66383423, ..., -0.41901605,
         0.96860501, -1.02914512],
       [ 2.53094631, -1.0488606 ,  0.25439755, ...,  0.41703547,
        -0.29223702,  1.26834583],
       ...,
       [ 0.39477585, -0.38275172,  0.30541042, ...,  0.5057076 ,
         0.20852293,  2.28945293],
       [ 1.9206119 , -0.63650748,  0.3564233 , ...,  0.11301674,
        -0.90924482,  2.5447297 ],
       [-0.52072578, -0.31931278, -0.45978272, ..., -0.73570222,
        -0.39656201, -0.85896061]])

In [100]:
x_test=imputed_x_test
x_train=imputed_x_train

In [101]:
#checking the accuracy score using SVM

In [102]:
clf=svm.SVC(kernel='linear',C=10)

In [103]:
clf.fit(x_train,y_train)

SVC(C=10, kernel='linear')

In [104]:
x_train_prediction_svm=clf.predict(x_train)
from sklearn.metrics import accuracy_score
accuracy_score(x_train_prediction_svm,y_train)

0.7736156351791531

In [105]:
accuracy_score(clf.predict(x_test),y_test)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SVC was fitted without feature names
  warnings.warn(

0.34415584415584416

In [106]:
#checking the accuracy score using LogisticRegression

In [107]:
lr=LogisticRegression(max_iter=1000)

In [108]:
lr.fit(x_train,y_train)

LogisticRegression(max_iter=1000)

In [109]:
accuracy_score(lr.predict(x_test),y_test)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

0.34415584415584416

In [110]:
accuracy_score(lr.predict(x_train),y_train)

0.7801302931596091

In [111]:


#using knn

In [112]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [113]:
accuracy_score(knn.predict(x_test),y_test)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but KNeighborsClassifier was fitted without feature names
  warnings.warn(
C:\Users\HP\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.33766233766233766

In [114]:
accuracy_score(lr.predict(x_train),y_train)

0.7801302931596091

In [115]:
#checking the accuracy score using Decisiontree
from sklearn import tree
dst = tree.DecisionTreeClassifier()
dst = dst.fit(x_train,y_train)
accuracy_score(dst.predict(x_test),y_test)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(

0.4935064935064935

In [116]:
accuracy_score(dst.predict(x_train),y_train)

1.0